.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.target {
	font-weight: bold;
	font-size: larger;
}

.stim_sentence {
	font-weight: bold;
	font-size: larger;
}

input[type=text] {
	width: 400;
	height: 100;
}
